.container {
  width: 70px;
  height: 20px;
  font-size: 12px;
  background: inherit;
  border: 2px solid #3de8ff;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
}

.container:hover {
  background-color: #3d98ff;
  border-color: #3d98ff;
}

.container:active {
  background-color: #3dc5ff;
  border-color: #3dc5ff;
}

.container:focus {
  outline: none;
}
